<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCommentaryLabel" jhiTranslate="hopiestraWebSiteApp.commentary.home.createOrEditLabel">Create or edit a Commentary</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!commentary.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="commentary.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hopiestraWebSiteApp.commentary.content" for="field_content">Content</label>
            <input type="text" class="form-control" name="content" id="field_content"
                [(ngModel)]="commentary.content" required/>
            <div [hidden]="!(editForm.controls.content?.dirty && editForm.controls.content?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.content?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hopiestraWebSiteApp.commentary.author" for="field_author">Author</label>
            <select class="form-control" id="field_author" name="author" [(ngModel)]="commentary.author"  required>
                <option *ngIf="!editForm.value.author" [ngValue]="null" selected></option>
                <option [ngValue]="userOption.id === commentary.author?.id ? commentary.author : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.author?.dirty && editForm.controls.author?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.author?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hopiestraWebSiteApp.commentary.article" for="field_article">Article</label>
            <select class="form-control" id="field_article" name="article" [(ngModel)]="commentary.article"  required>
                <option *ngIf="!editForm.value.article" [ngValue]="null" selected></option>
                <option [ngValue]="articleOption.id === commentary.article?.id ? commentary.article : articleOption" *ngFor="let articleOption of articles; trackBy: trackArticleById">{{articleOption.adminTitle}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.article?.dirty && editForm.controls.article?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.article?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
