<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myThemeLabel" jhiTranslate="hopiestraWebSiteApp.theme.home.createOrEditLabel">Create or edit a Theme</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!theme.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="theme.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hopiestraWebSiteApp.theme.order" for="field_order">Order</label>
            <input type="number" class="form-control" name="order" id="field_order"
                [(ngModel)]="theme.order" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hopiestraWebSiteApp.theme.parentTheme" for="field_parentTheme">Parent Theme</label>
            <select class="form-control" id="field_parentTheme" name="parentTheme" [(ngModel)]="theme.parentTheme" >
                <option [ngValue]="null"></option>
                <option [ngValue]="themeOption.id === theme.parentTheme?.id ? theme.parentTheme : themeOption" *ngFor="let themeOption of themes; trackBy: trackThemeById">{{themeOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hopiestraWebSiteApp.theme.backgroundPicture" for="field_backgroundPicture">Background Picture</label>
            <select class="form-control" id="field_backgroundPicture" name="backgroundPicture" [(ngModel)]="theme.backgroundPicture" >
                <option [ngValue]="null"></option>
                <option [ngValue]="imageOption.id === theme.backgroundPicture?.id ? theme.backgroundPicture : imageOption" *ngFor="let imageOption of images; trackBy: trackImageById">{{imageOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
