
<div *ngIf="themeSubscription">
    <h2><span jhiTranslate="hopiestraWebSiteApp.themeSubscription.detail.title">Theme Subscription</span> {{themeSubscription.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="hopiestraWebSiteApp.themeSubscription.email">Email</span></dt>
        <dd>
            <span>{{themeSubscription.email}}</span>
        </dd>
        <dt><span jhiTranslate="hopiestraWebSiteApp.themeSubscription.subscripitonForAll">Subscripiton For All</span></dt>
        <dd>
            <span>{{themeSubscription.subscripitonForAll}}</span>
        </dd>
        <dt><span jhiTranslate="hopiestraWebSiteApp.themeSubscription.themes">Themes</span></dt>
        <dd>
            <span *ngFor="let themes of themeSubscription.themes; let last = last">
                <a [routerLink]="['/theme', themes?.id ]">{{themes.name}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'theme-subscription/'+ themeSubscription.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
