<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myInternationalTagLabel" jhiTranslate="hopiestraWebSiteApp.internationalTag.home.createOrEditLabel">Create or edit a International Tag</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!internationalTag.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="internationalTag.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hopiestraWebSiteApp.internationalTag.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                [(ngModel)]="internationalTag.title" required/>
            <div [hidden]="!(editForm.controls.title?.dirty && editForm.controls.title?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.title?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hopiestraWebSiteApp.internationalTag.language" for="field_language">Language</label>
            <select class="form-control" id="field_language" name="language" [(ngModel)]="internationalTag.language"  required>
                <option *ngIf="!editForm.value.language" [ngValue]="null" selected></option>
                <option [ngValue]="languageOption.id === internationalTag.language?.id ? internationalTag.language : languageOption" *ngFor="let languageOption of languages; trackBy: trackLanguageById">{{languageOption.name}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.language?.dirty && editForm.controls.language?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.language?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
