
<div *ngIf="tag">
    <h2><span jhiTranslate="hopiestraWebSiteApp.tag.detail.title">Tag</span> {{tag.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="hopiestraWebSiteApp.tag.code">Code</span></dt>
        <dd>
            <span>{{tag.code}}</span>
        </dd>
        <dt><span jhiTranslate="hopiestraWebSiteApp.tag.internationalTags">International Tags</span></dt>
        <dd>
            <span *ngFor="let internationalTags of tag.internationalTags; let last = last">
                <a [routerLink]="['/international-tag', internationalTags?.id ]">{{internationalTags.id}} - {{internationalTags.title}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'tag/'+ tag.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
